{% extends "layouts.html" %}
{% block body_content %}
<h1>{{ current_user.first_name }} {{ current_user.last_name }} Account Page</h1>
           <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h2>Change Songs</h2>
                <div class="form-group">
                        {{ form.content1.label }}
                        {{ form.content1 }}
                        {% if form.content1.errors %}
                        <div class="error">
                                {% for error in form.content1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                                <div class="form-group">
                        {{ form.content2.label }}
                        {{ form.content2 }}
                        {% if form.content2.errors %}
                        <div class="error">
                                {% for error in form.content2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
		<div class="form-group">
                        {{ form.content3.label }}
                        {{ form.content3 }}
                        {% if form.content3.errors %}
                        <div class="error">
                                {% for error in form.content3.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
		<br>
                <div class="form-group">
                    {{ form.submit }}
		</div>
		</div><b>
                
        </form> 
    </div>

{% endblock %}
